<connectionStrings>
  <clear />
  <add name="NWindConnectionString" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|\nwind.db; Mode=ReadOnly" />
  <add name="ContactsConnectionString" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|\Contacts.db; Mode=ReadOnly" />
  <add name="HomesConnectionString" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|\homes.db; Mode=ReadOnly" />
  <add name="VehiclesDBConnectionString" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|\vehicles.db; Mode=ReadOnly" />
  <add name="DevAvConnectionString" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|\devav.sqlite3; Mode=ReadOnly" />
  <add name="CountriesConnectionString" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|\Countries.db; Mode=ReadOnly" />
</connectionStrings>
